{% extends 'base.html' %} {% block content %}{% include
'school_search_form.html' %}
<div class="border rounded p-3">
  <h2 class="text-5xl font-light">
    Get the Full Details About Your Prospected College
  </h2>

  <div class="my-6">
    <div class="text-xl">
      <h2 class="capitalize text-3xl font-thin">
        College Sites Dont Tell the Whole Story
      </h2>
      <div class="m-4 p-3 bg-blue-200">
        <p class="py-3">
          They won't tell you their admission rate. They won't tell you their
          retention rate. They definitely won't tell you how much debt you can
          expect to end up with after graduation.
        </p>
        <p class="py-3">
          They don't tell you these things, but this site does.
        </p>
      </div>
    </div>
    <div>
      <h2 class="capitalize text-3xl font-thin">
        There's a lot of information
      </h2>
      <p class="m-4 p-3 bg-blue-200">
        That said, schools in the US are required to tell the
        <strong>Department of Education</strong> this information and the DOE
        makes that data public. This site peaks at all the information colleges
        in the US provide to the DOE and makes it readable for you.
      </p>
    </div>
    <div>
      <h2 class="capitalize text-3xl font-thin">
        Our goal is to serve you and nothing else
      </h2>
      <p class="m-4 p-3 bg-blue-200">
        Other college search sites collect your to sell to these schools. We do
        not sell the information or artificially inflate results. This project
        is also open source meaning you can ensure the integrity of the data and
        the technology used to implement the work.
      </p>
    </div>
  </div>
</div>

{% endblock %}
