{% extends 'base.html' %} {% block content %}

<div class="border rounded p-3 bg-blue-200">
  <h2 class="text-5xl font-light">
    Get the Full Details About Your Prospected College
  </h2>

  <p class="my-4">
    <strong>College Sites Won't Tell the Whole Story</strong>. They don't tell
    you their admission rate. They won't tell you their retention rate. They
    definitely won't tell you how much debt they'll expect you to end up with
    after graduation.
  </p>
  <p class="my-4">
    That said, schools in the US are required to tell the
    <strong>Department of Education</strong> this information and the DOE makes
    that data public. This site peaks at all the information colleges in the US
    provide to the DOE and makes it readable for you.
  </p>
</div>

{% endblock %}
