{% extends 'base.html' %} {% block content %}

{% include 'school_search_form.html' %}
<div class="border rounded p-2">
  <h2>
    <em
      >Search "{{query}}" returned {{results['hits']['total']['value']}}
      results</em
    >
  </h2>
  
  {% if cities %}
  Did you mean to show schools in these cities?
  {% for city in cities %}
    <a class="mx-3 text-blue-400 hover:italic hover:underline" href="/search/schools?q={{query}}&city={{city}}">{{city}}</a>
    {% endfor %}
  {% endif %}
</div>

  {% for school in results['hits']['hits'] %} {% set results =
  results['_source'] %} {% set _id = school['_id'] %}{% set school =
  school['_source'] %}
  <div class="p-4 border rounded my-4">
    <div class="flex">
      <h3 class="mr-3 p-1 rounded bg-gray-200">{{school['CONTROL']}}</h3>
      <h3 class="mr-3 p-1">{{school['MAIN']}}</h3>
      {% if school['RELAFFIL'] != 'None' %}
      <h3 class="mr-3 p-1">{{school['RELAFFIL']}}</h3>
      {% endif %}
    </div>

    <h2 class="text-lg font-bold">
      <a href="/school/{{_id}}">{{school['INSTNM']}}</a>
    </h2>

    {% if school['INSTURL'] %}
    <h3>
      <a href="{{school['INSTURL']}}">{{school['INSTURL']}}</a>
    </h3>
    {% endif %}
    <h3>Top Programs:</h3>
    <div class="flex">
    {% for program in school['top_programs'] %}
    <h2>
      {{program}}</h2>
    {% endfor %}
    </div>
    {% if school['ADM_RATE_ALL'] %}
    <h3 class="">
      <strong>Admission Rate:</strong> {% set adm_rate = school['ADM_RATE_ALL']
      * 100 %} {{"%.1f"|format(adm_rate)}}%
    </h3>
    {% endif %} {% if school['TUITIONFEE_IN'] %}
    <h3>
      <strong>Tuition - In State:</strong>
      {{"$%.2f"|format(school['TUITIONFEE_IN'])}}
    </h3>
    {% endif %} {% if school['TUITIONFEE_OUT'] %}
    <h3>
      <strong>Tuition - Out of State:</strong>
      {{"$%.2f"|format(school['TUITIONFEE_OUT'])}}
    </h3>
    {% endif %} {% if school['DEBT_MDN'] != 'PrivacySuppressed' %}
    <h3>
      <strong>Median Amount of Student Loan Debt: </strong>
      ${{school['DEBT_MDN']}}
    </h3>
    {% endif %} {% if school['PCTFLOAN'] %}
    <h3>
      <strong
        >Percentage of Undergraduates Receiving Federal Student Loan</strong
      >
      {% set PCTFLOAN = school['PCTFLOAN'] * 100 %} {{"%.1f"|format(PCTFLOAN)}}%
    </h3>
    {% endif %}
    <div class="flex">
      {% for tag in school['tags'] %}
      <span class="p-1 hover:bg-blue-300">{{tag}}</span>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
